header {
    height: 80px;
}

main {
    background-color: rgba(0, 0, 0, 0.856);
    height: calc(100vh - 80px);
    overflow: auto;
}

.poster:hover .details{
    display: flex !important;
    background-color: rgba(0, 0, 0, 0.74);
    overflow: auto;
}