header {
    height: 80px;
}

main {
    background: linear-gradient(121deg, rgba(0,0,0,1) 31%, rgba(182,0,0,1) 100%);
    height: calc(100vh - 80px);
    overflow: auto;
}

.poster:hover .details{
    display: flex !important;
    background-color: rgba(0, 0, 0, 0.74);
    overflow: auto;
}